/**SOME THEME CHANGES**/
body.bluegrey {
  background-color: #66848C !important;
  background: #66848C;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #66848C 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #66848C));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #66848C 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #66848C 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #66848C 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #66848C 100%);
  background-color: #f7fbfc;


}
.reveal .controls div.navigate-left.enabled{
  border-right-color: #151D23
}
.reveal .controls div.navigate-right.enabled{
  border-left-color: #151D23
}
.reveal .controls div.navigate-top.enabled{
  border-bottom-color: #151D23
}
.reveal .controls div.navigate-bottom.enabled{
  border-top-color: #151D23
}
.reveal div.slide-number {
  color: #151D23;
}


/**OTHER CHANGES**/

.reveal section img.noborder {
  border: 0px solid black;
}
.reveal section img.noshadow {
  box-shadow: none;
  background-color:transparent;
}

.vCenterContent {
  -ms-flex-align: center;	display: flex;align-items: center;justify-content: center;
}
.grow { transition: all 1s ease-in-out !important; transform: scale(25); transform-origin: top; }
/*.grow:hover { transform: scale(1); }*/
.reveal code {
padding: 2px 4px;
font-size: 90%;
color: #c7254e;
background-color: #FCFEFF;
border-radius: 4px;
}

.reveal code.correct {
  background-color: #CCFFC4;
  color: black;
}
.reveal code.incorrect {
  background-color: #FF9292;
  color:black;
}


.svg.country, svg.state {
  visibility: hidden;
}
.reveal table td {
  vertical-align: middle;
}
