
.playback {
	left: 15px !important;
	top: 15px !important;	
}

.grey {
	
}
.reveal .lightGrey {
	color: #C8C8C8;
}
.reveal .white {
	color: white;
}
.reveal .black {
	color: black;
}
.reveal .darkGrey {
	color: #2D3033;
}

.reveal section img.clean {
	border: 0px;
	box-shadow: none;
	background: none;
}
.reveal section img.max {
    height: 100%;
    width: 100%;
}

.reveal table {
	border-collapse: collapse;
}
.reveal table th {
	border-bottom: 3px solid;
    padding: 10px 20px
}
.reveal table.rightAlign td {
    text-align: right;
}
.reveal table.leftAlignFirstCol tr td:nth-child(1) {
	text-align: left;
}